<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        META DATA
      </mat-panel-title>
      <mat-panel-description>
        Show Meta Data
      </mat-panel-description>
    </mat-expansion-panel-header>
      <div id="metadata-container">
    <div id="metadata-viz-container">
      <div *ngFor="let question of metadata" class="viz-container" id="{{'metadata_' + question.variable}}">
        <p class="var_name"
          matTooltip= {{question.question}}
          aria-label="Button that displays a tooltip when focused or hovered over">{{question.variable}}</p>
        <div width="max-content" id='{{"metaview_"+question.variable}}' class="figure"></div>
      </div>
    </div>
</div>

</mat-expansion-panel>
