<mat-accordion id="metaview-panel">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        META DATA
      </mat-panel-title>
      <mat-panel-description>
        Show Meta Data
      </mat-panel-description>
    </mat-expansion-panel-header>
      <div id="metadata-container"> 
    <div id="metadata-viz-container">
      <div *ngFor="let question of metadata" class='{{"viz-container "+question.category}}'  id="{{'metadata_' + question.variable}}">
        <p class="var_name"
          matTooltip= {{question.question}}
          aria-label="Button that displays a tooltip when focused or hovered over">{{question.question}}</p>
        <div width="max-content" id='{{"metaview_"+question.variable}}' class={{question.category}}></div>
      </div>
    </div>
</div>

</mat-expansion-panel>
