.grid-container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "sidenav main";
    height: 100vh;
    overflow-y: hidden;
}

.sidenav {
    grid-area: sidenav;
    height: 100vh;
    /* overflow-y: scroll; */
}

.main {
    grid-area: main;
    background-color: whitesmoke;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

app-detailview {
    /* background-color: grey; */
    flex-grow: 1;
    height: 100%;
}