<mat-card *ngIf="created" class="node" cdkDragBoundary="main" cdkDrag> 
  <mat-card-header>
    <mat-card-title>Visualization:{{visualization}}</mat-card-title>
    <mat-card-subtitle>Task:{{task}}</mat-card-subtitle>
  </mat-card-header>
  <div class="container">
    <div class="box-viz">
      <p class="var_name">{{variable}}</p>
      <div width="max-content" id={{id}} class="figure"></div>
    </div>
  </div>
  <button mat-icon-button (click)="OpenZoom()"><mat-icon >zoom_in</mat-icon></button>
  <button mat-button color="warn" (click)="DestroyComponent()">Delete</button>
  <div class="drag-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
</mat-card>
