.form-width {
    width: 100%;
}

.container {
    display: flex;
    height: 94vh;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll; 
    background-color: #3a74b73b;    
    align-content: flex-start;
}

.box-viz {
    margin: 5px 0px 0px 5px;
    padding: 3px 5px;
    display: flex;
    flex-direction: column;
    min-width: 28%;
    height: 75px;
    border-radius: 4px;
    background-color: #fafafa;
}

.var_name {
    margin: 0;
    font-size: 10px;
    text-transform: lowercase;
    max-width: 88px;
    text-overflow:  ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Interaction */
.found-highlight {
    border-width: 3px !important;
    -webkit-box-shadow: 8px 1px 31px 1px rgba(65, 93, 163, 0.6) !important;
    -moz-box-shadow: 8px 1px 31px 1px rgba(65, 93, 163, 0.6);
    box-shadow: 3px 1px 3px 1px rgba(65, 93, 163, 0.6) !important;
    transition: all linear 250ms;
}

.Rating{
    margin-top: -7px;
    margin-bottom: -10px;
}