.container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

app-suggestion-panel {
    flex: 0 1 auto;
}

app-dragndrop-panel {
    /* height: max-content; */
    /* background-color: hotpink; */
    /* flex: 1 1 auto; */
    flex: 1;
}