<form class="search-form">
    <mat-form-field class="form-width">
       <input type="text" 
              placeholder="QuestionID" 
              aria-label="QuestionID" 
              matInput 
              [formControl]="IdCtrl" 
              [matAutocomplete]="auto"
              (keyup.enter)="submit(IdCtrl.value)">
       <mat-label>Select an ID</mat-label>
       <mat-autocomplete #auto="matAutocomplete">
         <mat-option *ngFor="let option of filteredQuestions| async" [value]="option.variable">
           {{option.question}}
         </mat-option>
       </mat-autocomplete>
     </mat-form-field>
 </form>
 
 <button mat-flat-button color="primary" (click)=ResetFilters()>Reset Filters</button>
 <div class="container" >
    <div *ngFor="let question of questionnaire" 
          class="box-viz"
          id="{{'container_'+question.variable}}">
        <p class="var_name">{{question.variable}}</p>
        <div width="max-content" id="{{'overview_' + question.variable}}" class="figure"></div>
    </div>
</div> 
 