    <form class="form-inline">
      <p>I want to visualize the </p>
      <!-- <mat-form-field> -->
        <mat-radio-group id="group-task" aria-label="Select a task" [(ngModel)]="selectedTask" name="tasks">
          <mat-radio-button *ngFor="let task of tasks| keyvalue" [value]="task" color="primary">
            {{task.value}}</mat-radio-button><br>
        </mat-radio-group>
        
        <!-- <mat-label>Task</mat-label>
        <mat-select [(ngModel)]="selectedTask" name="tasks">
          <mat-option *ngFor="let task of tasks| keyvalue" [value]="task">
            {{task.value}}
          </mat-option>
        </mat-select> -->
      <!-- </mat-form-field> -->
      <p> of </p>
      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="Question selection">
          <mat-chip *ngFor="let question of selectedQuestions" [selectable]="selectable" [removable]="removable"
            (removed)="remove(question)">
            {{question}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Variables ..." #questionInput [formControl]="IdCtrl" [matAutocomplete]="auto"
            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)"
            (keyup.enter)="AddNode(selectedQuestions, selectedTask)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let question of filteredQuestions | async" [value]="question">
            {{question}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit"
        (click)="AddNode(selectedQuestions, selectedTask)">Apply</button>
    </form>
